@import './../../styles/functions';

// Mobile styles
.video-text-hero {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  background-color: var(--light);
  position: relative;
  overflow: hidden;

  &__parallax-container,
  &__content-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  &__parallax-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__content-container {
    position: relative;
    z-index: 2;
    margin-bottom: 20vh;
    margin-left: 9px;
    margin-right: 9px;

    @include media-breakpoint-up(tablet) {
      margin-bottom: 15vh;
      margin-left: 36px;
    }
  }

  &__background-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    position: absolute;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--picture,
    &--picture img {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
      width: 100%;
      height: 100vh;
      position: absolute;
      object-fit: cover;
    }
  }

  &__text-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    width: 100%;
    z-index: 2;
    font-family: var(--body-strong-font-family);

    @include media-breakpoint-up(tablet) {
      width: 60%;
    }


    &.first-text-container {
      background-color: transparent;
    }
  }

  &__heading {
    position: relative;
    font-size: var(--heading-font-size-xl);
    font-style: normal;
    font-weight: var(--bold-font-weight);
    line-height: var(--heading-line-height-xl);
    color: var(--corporate-lightest);
    width: 60%;
    hyphens: none;

    @include media-breakpoint-up(tablet) {
      position: relative;
      font-size: var(--heading-font-size-xxl);
      line-height: var(--heading-line-height-xxl);
    }

      &--yellow {
      color: var(--corporate-accent);
      width: 60%;
    }
  }

  &__text {
    font-size: var(--heading-font-size-xs);
    font-weight: var(--light-font-weight);
    line-height: var(--body-line-height-s);
    align-self: stretch;
    color: var(--dark);
  }

  .video-text-hero__heading + .video-text-hero__subheading {
    margin-top: 100px;
  }

  .video-text-hero__subheading + .video-text-hero__text {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    @include media-breakpoint-up(tablet) {
      width: 50vw;
      height: 256px;
    }
  }
}


// Universal Editor
body.editor-mode {
  .video-text-hero__content-container {
    @include media-breakpoint-up(tablet) {
      position: absolute;
      height: 100%;
      margin-bottom: 2vh;
    }
  }

  .video-text-hero__parallax-container {
    position: relative;
    height: 100%;

    .video-text-hero__background-image {
      position: relative;
      align-items: stretch;

      .video-text-hero__background-image--picture  {
        align-items: stretch;

        img {
          height: 100%;
          position: relative;
        }
      }
    }
  }
}


// Inverted
.section {
  &.video-text-hero-container {
    background-color: var(--light);
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    &.inverted {
        background-color: var(--light);

      .video-text-hero {
        background-color: var(--light);

        &__text-container {
            background-color: var(--dark);
        }

        &__parallax-container,
        &__content-container {
          background-color: var(--dark);

          @include media-breakpoint-up(tablet) {
            background-color: var(--light);
          }
        }

        &__heading,
        &__subheading,
        &__text {
          color: var(--light);
        }
      }
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .video-text-hero {
    &__background-image {
      background-attachment: fixed;
      -webkit-overflow-scrolling: touch;
      will-change: transform;
      perspective: 1px;
      transform: translateZ(0);
      --webkit-transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      transform-style: preserve-3d;
      contain: paint;
    }
  }
}

.video-text-hero-wrapper {
  position: relative;
  width: 100%;
  clip-path: inset(0 0 0 0);
  max-width:unset !important;

  @include media-breakpoint-up(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.s7videoelement {
  padding-top: 56.25% !important;
}

